/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color to match images */
  /*Green dark 190 - Green 171 - Grren Blue 200*/
  --hue-color: 190;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 64%, 22%);
  --first-color-second: hsl(var(--hue-color), 64%, 22%);
  --first-color-alt: hsl(var(--hue-color), 64%, 15%);
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --yellow-color: #e4990e;
  --white-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);
  --section-color: #f1f5f8;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);

   /*========== Border Radius  ==========*/
  --radius-small: 8px;
  --radius-normal: 12px;
  --radius-full: 100px;

   /*===== Transition =====*/
  --transition: .3s ease-in;
  --transition-hover: 0.01s;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 54%, 12%);
  --title-color: hsl(var(--hue-color), 24%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 29%, 12%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  --section-color: var(--first-color-second);
}

/*========== Button Dark/Light ==========*/
.nav__dark {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.change-theme, .change-theme-name {
  color: var(--text-color);
}

.change-theme {
  cursor: pointer;
  font-size: 1rem;
}

.change-theme-name {
  font-size: var(--small-font-size);
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: var(--biggest-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-2-5);
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
}

.bar__header {
  background-color: var(--yellow-color);
  padding: 0.5rem;
}

.bar__header-info {
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
  text-align: center;
}

.bar__header-title {
  color: var(--white-color);
  text-shadow: 1px 1px 1px #010101;
}

.bar__header-list{
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  text-shadow: 1px 1px 1px #010101;
}

.bar__header-list li {
  margin-left: 0.8rem;
}

.bar__header-list li a {
  color: var(--white-color);
}

.bar__header-title i,
.bar__header-list li i {
  font-size: 18px;
  position: relative;
  top:  0.2rem;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, .nav__toggle {
  color: var(--white-color);
}

.nav__logo {
  font-weight: var(--font-semi-bold);
}

.nav__toggle {
  border: 1px solid var(--white-color);
  border-radius: var(--radius-small);
  font-size: 1.8rem;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__toggle i{
  color: var(--white-color);
}

.nav__toggle:hover{
  transform: scale(1.05);
  transition: transform var(--transition);
}

.nav__menu {
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    padding: 3rem;
    transition: .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  position: relative;
}

.nav__link:hover {
  color: var(--text-color);
}
.nav__link:after {
  content: '';
  background: var(--yellow-color);
  height: 4px;
  border-radius: 10px;
  width: 0;
  position: absolute;
  left: 50%;
  bottom: -0.5rem;
  transition: all 0.25s ease-out;
}

.nav__link:hover:after{
  left: 5%;
  width: 90%;
}

.nav__close {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--title-color);
}

/* Active link */
.active-link {
  position: relative;
  color: var(--title-color);
}

.active-link::before {
  border-radius: 10px;
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 5%;
  width: 90%;
  height: 4px;
  background: var(--yellow-color);
}

/*=============== HOME ===============*/
.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 83%;
}

.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  justify-content: center;
  row-gap: 3rem;
}

.home__data {
  text-align: center;
}

.home__data-title, 
.home__social-link {
  color: var(--white-color);
}

.home__data-title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-medium);
  margin-bottom: ;
}

.home__data-subtitle {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-75);
}

.home__social {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    column-gap: 0.5rem;
  }

  .home__social-link {
    font-size: 1.2rem;
    width: max-content;
  }

  .home__social i {
    display: block;
    font-size: 36px;
  }

   .home__social i:hover {
    color: var(--yellow-color);
    transform: scale(1.2);
    transition: transform var(--transition);
   }

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  margin-top: var(--mb-2);
  padding: 1rem 2rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}

.button:hover {
  background-color: var(--first-color-alt);
  outline: 1px solid var(--white-color);
  outline-offset: -7px;
  box-shadow: 0 20px 30px -6px rgba(0,0,0,0.1),0 8px 12px -2px rgba(0,0,0,0.05);
}

.button--link:hover {
  background: none;
}

/*=============== ABOUT ===============*/
.about__data {
  text-align: center;
}

.about__container {
  row-gap: 2.5rem;
}

.about__title {
  margin-bottom: var(--mb-2);
}

.about__description {
  margin-bottom: var(--mb-2);
  text-indent: 30px;
}

.about__img {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.about__img-overlay {
  overflow: var(--img-hidden);
}

.about__img-one {
  width: 130px;
}

.about__img-two {
  width: 180px;
}

 .about__img-three {
  width: 180px;
 }

.about__img-one, 
.about__img-two,
 .about__img-three {
  transition: var(--img-transition);
  object-fit: fill;
  outline: 1px solid var(--yellow-color);
  outline-offset: -10px;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}

.about__img-one:hover, 
.about__img-two:hover,
.about__img-three:hover {
  transform: var(--img-scale);
  outline-width: 0px;
}

.about__list{
  margin-bottom: var(--mb-1);
}

.about__list i{
  font-size: 36px;
  position: relative;
  top: 10px;
}

/*=============== SERVICES ===============*/
.services {
  background-color: var(--section-color);
}
.services__container {
  justify-content: center;
}

.services__card {
  width: 280px;
}

.service__img-overlay {
  overflow: var(--img-hidden);
}

.services__img {
  display: block;
  height: 230px;
  width: 230px;
  margin: 0 auto var(--mb-1);
  object-fit: cover;
  transition: var(--img-transition);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}

.services__img:hover {
  transform: var(--img-scale);
}

 .services__title {
  text-align: center;
  margin-bottom: var(--mb-1);
}

/*=============== DISCOVER ===============*/
.discover__card {
  position: relative;
  width: 240px;
  height: 240px;
  overflow: var(--img-hidden);
}

.discover__img {
  transition: var(--img-transition);
  height: 240px;
  width: 240px;
  object-fit: cover;
}

.discover__img:hover {
  transform: var(--img-scale);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

/*=============== EXPERIENCE ===============*/
.experience {
  background-color: var(--section-color);
}
.experience__container {
  row-gap: 2.5rem;
  justify-content: center;
  justify-items: center;
}

.experience__content {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  justify-items: center;
  padding: 0 2rem;
}

.experience__number {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-0-5);
}

.experience__description {
  font-size: var(--small-font-size);
}

.experience__img {
  position: relative;
  padding-bottom: 2rem;
}

.experience__img-one, 
.experience__img-two {
  transition: var(--img-transition);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}

.experience__img-one:hover, 
.experience__img-two:hover {
  transform: var(--img-scale);
}

.experience__overlay {
  overflow: var(--img-hidden);
}

.experience__overlay:nth-child(1) {
  width: 263px;
  margin-right: 2rem;
}

.experience__overlay:nth-child(2) {
  width: 120px;
  position: absolute;
  top: 2rem;
  right: 0;
}

/*=============== GALERY ===============*/

.gallery__container {
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.5rem;
}

.gallery__card {
  height: 230px;
  overflow: hidden;
  border: 1px solid var(--yellow-color);
  position: relative;
  cursor: pointer;
}

.gallery__card:hover{
  filter: drop-shadow(16px 16px 20px #efefef);
}


.gallery__card .small_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all linear 0.4s;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}

.gallery__card:hover .small_img {
    transform: scale(1.1);
}

#modal_img{
    width: 65vw;
    transform: scale(0);
    transition: all linear .3s;
}

.modal_active #modal_img{
    transform: scale(1);
}
.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    visibility: hidden;
    z-index: 1000;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bt_close{
    color:#fff;
    background-color: var(--yellow-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:30px;
    right: 50px;
    width: 50px;
    height: 50px;
    font-size: 50px;
    transition: all ease-out .4s;
    text-align: center;
    cursor: pointer;
}
#bt_close:hover{
    background-color: var(--first-color-second);
}

.modal_active{
    visibility: visible;
    opacity: 1;

}

/*=============== SUBSCRIBE ===============*/
.subscribe {
  background-color: var(--section-color);
}
.subscribe__bg {
  background-color: var(--first-color-second);
  padding: 1.5rem 0;
}

.subscribe__title, 
.subscribe__description {
  color: var(--white-color);
}

.subscribe__title {
  font-size: var(--h2-font-size);
}

.subscribe__description {
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.subscribe__form {
  background-color: var(--input-color);
  padding: .5rem;
  display: flex;
  justify-content: space-between;
}

.subscribe__input {
  width: 70%;
  padding-right: .5rem;
  background-color: var(--input-color);
  color: var(--text-color);
}

.subscribe__input::placeholder {
  color: var(--text-color);
}

#my-form-status {
  color: var(--white-color);
  text-align: center;
  padding: 0.5rem;
}

/*=============== SPONSORS ===============*/
.sponsor__container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  justify-items: center;
  row-gap: 3.5rem;
}

.sponsor__content:hover .sponsor__img {
  filter: invert(0.5);
}

.sponsor__img {
  width: 90px;
  filter: invert(0.7);
  transition: var(--img-transition);
}

/* ===== CONTACT =====*/
.contact {
  background-color: var(--section-color);
}
.contact__container{
    row-gap: 2rem;
}
.contact__subtitle{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    position: relative;
}
.contact__subtitle i{
  font-size: 38px;
  position: relative;
  top: 3px;
}
.contact__text{
    display: inline-block;
    margin-bottom: var(--mb-2);
}
.contact__inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}
.contact__input{
    width: 100%;
    padding: .8rem;
    outline: none;
    border: 1.5px solid var(--first-color-second);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .5rem;
}
.contact__button{
    display: block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: .75rem 2.5rem;
    margin-left: auto;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--yellow-color);
  border-radius: 20px 20px 0 0;
  padding: 2.5rem 0 0.5rem;
}
.footer__container {
  row-gap: 5rem;
}

.footer__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__title, 
.footer__subtitle {
  font-size: var(--h3-font-size);
  color: var(--white-color);
}

.footer__title {
  margin-bottom: var(--mb-0-5);
}

.footer__description {
  color: var(--white-color);
  margin-bottom: var(--mb-2);
}

.footer__social {
  font-size: 2.25rem;
  color: var(--white-color);
  margin-right: var(--mb-1-25);
}

.footer__subtitle {
  margin-bottom: var(--mb-1);
}

.footer__item {
  margin-bottom: var(--mb-0-75);
}

.footer__link {
  color: var(--white-color);
}

.footer__link:hover {
  color: var(--white-color);
  text-decoration: underline;
}

.footer__rights {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-align: center;
}

.footer__copy, .footer__terms-link {
  font-size: var(--small-font-size);
  color: var(--white-color);
}

.footer__terms {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
}

.footer__terms-link:hover {
  color: var(--white-color);
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--first-color);
  padding: .5rem;
  display: flex;
  opacity: .9;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--first-color-alt);
  opacity: 1;
}

.scrollup__icon {
  color: var(--white-color);
  font-size: 1.2rem;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

.whats-contact {
  background: linear-gradient(45deg, #00D100, #008300); 
  border-radius: var(--radius-full);
  bottom: 15px;
  display: block;
  color: #f9f9f9;
  height: 50px;
  width: 50px;
  position: fixed;
  right: 20px;
  transition: transform var(--transition);
  z-index: var(--z-fixed);
}

.whats-contact i {
  color: #fff;
  font-size: 33px;
  position: absolute;
  left: 9px;
  top: 5px;
}


/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .services__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .place__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .experience__content {
    padding: 0;
  }
  .experience__overlay:nth-child(1) {
    width: 190px;
  }
  .experience__overlay:nth-child(2) {
    width: 80px;
  }
  .home__info {
    width: 190px;
    padding: 1rem;
  }
  .experience__img,
  .video__container {
    padding: 0;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .services__container {
    grid-template-columns: repeat(2, max-content);
  }
  .services__card {
    width: 230px;
  }
  .place__container {
    grid-template-columns: repeat(3, max-content);
  }
  .subscribe__form {
    width: 470px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .bar__header-info {
    justify-content: space-between;
    flex-direction: row;
  }
  .bar__header-list{
    flex-direction: row;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__link {
    color: var(--white-color);
    text-transform: initial;
  }
  .nav__link:hover {
    color: var(--white-color);
  }
  .nav__dark {
    position: initial;
  }
  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .change-theme-name {
    display: none;
  }
  .change-theme {
    color: var(--white-color);
  }
  .active-link::before {
    background-color: var(--yellow-color);
  }
  .scroll-header .nav__link {
    color: var(--white-color);
  }
  .scroll-header .active-link {
    color: var(--yellow-color);
  }
  .scroll-header .active-link::before {
    background-color: var(--yellow-color);
  }
  .scroll-header .change-theme {
    color: var(--white-color);
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .home__container {
    height: 100vh;
    grid-template-rows: 1.8fr .5fr;
  }
  .home__data {
    align-self: flex-end;
  }
  
  .home__info {
    bottom: 3rem;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about__data, .about__title {
    text-align: initial;
  }
  .about__title {
    margin-bottom: var(--mb-1-5);
  }
  .about__description {
    margin-bottom: var(--mb-2);
  }

  .discover__container {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  .service__container,
  .discover__container,
  .place__container {
    padding-top: 2rem;
  }
  .experience__overlay:nth-child(1) {
    width: 363px;
    margin-right: 4rem;
  }
  .experience__overlay:nth-child(2) {
    width: 160px;
  }
  .subscribe__bg {
    background: none;
    padding: 0;
  }
  .subscribe__container {
    background-color: var(--first-color-second);
    padding: 3.5rem 0;
  }
  .subscribe__input {
    padding: 0 .5rem;
  }
  .contact__container{
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
  }
  .contact__form{
      width: 380px;
  }
  .footer__rights {
    flex-direction: row;
    justify-content: center;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__container {
    grid-template-rows: 2fr .5fr;
  }
  .home__info {
    width: 328px;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
  .home__info-title {
    font-size: var(--normal-font-size);
  }
  .home__info-img {
    width: 240px;
  }
  .about__img-one {
    width: 230px;
  }
  .about__img-two {
    width: 290px;
  }
  .about__img-three {
    width: 290px;
  }
  .services__container {
    grid-template-columns: repeat(4, max-content);
  }
  .discover__card {
    width: 237px;
  }
  .discover__container {
    width: 700px;
  }
  .discover__data {
    left: 1.5rem;
    bottom: 2rem;
  }
  .discover__title {
    font-size: var(--h2-font-size);
  }
  .experience__content {
    margin: var(--mb-1) 0;
    column-gap: 3.5rem;
  }
  .experience__overlay:nth-child(1) {
    width: 463px;
    margin-right: 7rem;
  }
  .experience__overlay:nth-child(2) {
    width: 220px;
    top: 3rem;
  }
  .video__container {
    grid-template-columns: .7fr;
  }
  .video__description {
    padding: 0 8rem;
  }
  .services__container {
    gap: 3rem 2rem;
  }
  .services__img {
    
  }
  .place__container {
    gap: 3rem 2rem;
  }
  .place__card, .place__img {
    height: 263px;
  }
  .footer__content {
    justify-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  body {
    margin: 0;
  }
  .home__container, .home__img {
    height: 640px;
  }
}

/*========== ANIMAÇÕES ==========*/

.pulse {
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
      box-shadow: 0 0 0 0 rgba(0, 209, 0, 0.7), 0 0 0 0 rgba(0, 209, 0, 0.7);
      transform: scale(1);
  }
  40% {
      box-shadow: 0 0 0 20px rgba(0, 209, 0, 0), 0 0 0 0 rgba(0, 209, 0, 0.7);
      transform: scale(1.1);
  }
  80% {
      box-shadow: 0 0 0 20px rgba(0, 209, 0, 0), 0 0 0 10px rgba(0, 209, 0, 0);
      transform: scale(1.1);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 209, 0), 0 0 0 10px rgba(0, 209, 0, 0);
      transform: scale(1.1);
  }
}
